// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.green {
  color: green;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

.footericon{
  padding-top: 10px;
  text-align: center;
}

#mostlike{
  overflow: scroll;
  height: 640px;
}
