#post_show_view {

  h1  {
    font-weight: bold;
  }

}

.blog_input{
  resize: none !important;
  overflow: scroll !important;
  font-family: sans-serif;
}
.title_input{
  resize: none !important;
  font-family: sans-serif;
}
